.profile-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  
  .profile-picture {
    width: 30%;
    padding-inline: 20px;

  }
  
  .profile-picture img {
    width: 100%;
    border-radius: 50%;
  }
  
  .profile-info {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  
  .profile-description {
    margin-bottom: 20px;
  }
  
  .profile-location {
    margin-bottom: 20px;
  }
  
  .profile-skills {
    margin-bottom: 20px;
  }
  
  .profile-skills ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  hr {
    margin: 20px 0;
    border-width: .5px;
  }